.buckets {
    // min-height: 88vh;
    background-color: #a4ccd5;
    padding: 30px;

    .bucket-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        font-family: 'Poppins', sans-serif;
    }
  }
