@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&amp;display=swap');

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }



footer {
    background-color: #74898A;
    text-align: center;
    color: #171b1b;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
footer p {
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
