@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&amp;display=swap');


.copyright {
    color: black;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    border: 1px solid black;
    background-color: #E6E6E6;
}