@import url('https://fonts.googleapis.com/css?family=Righteous|Titillium+Web:300,400,600&amp;display=swap');


.Global-Navigation {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #74898A;
    padding: .5rem 1rem;
    white-space: nowrap;
    

  }
  .Global-Navigation h1 {
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    color: #232222;
  }
  .Global-Navigation .HeaderLinks {
    padding: 1.5rem;
    color: #E6E6E6;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Righteous', cursive;
  }
 
  @media (max-width: 700px) {
    .Global-Navigation {
      flex-direction: column;
      padding: 0rem;
    }
    .Global-Navigation .HeaderLinks {
      padding: 0.5rem;
      font-size: 1.05rem;
    }
    .Global-Navigation div {
      padding: 1rem 0rem;
    }
  }