@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');

*{
    
    border: 1px red solid;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: #74898A;
    
}

.left-side-link{
    width: 50%;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Big Shoulders Text', cursive;
    color: #232222;
}

.nav-links .left-side-link a {
    
    font-size: 4rem;
    
}

.nav-links .right-side-link a {
    justify-content: space-between;
    margin: 30px;
    font-size: 1.8rem;
    text-decoration: none;
    color: #e6e6e6;
}

